.gallery > .photo {
  break-inside: avoid;
}

.gallery > .photo > img {
  display: block;
  max-width: 100%;
  padding: .125rem;
}

.gallery {
  padding: .5rem;
  column-count: 3;
  column-gap: 0;
}
  /*grid-auto-rows: minmax(100px, auto);*/
  /*max-width: 98vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
}

 /*display: grid;
  ;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);*/
/*
@media screen and (min-width: 620px) {
  .gallery {
    column-count: 2;
  }
}

@media screen and (min-width: 1050px) {
  .gallery {
    column-count: 3;
  }
}

@media screen and (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}*/
