$nav-link-color: rgba(0, 0, 0, 0.6);

.nav-bar-link {
  font-family: skia;
  font-size: .75rem;
  padding: .05rem 0 .05rem 1rem;
  margin: auto 0;
  float: right;
  color: $nav-link-color;

  &>a {
    text-decoration: none;
    background-color: none;
  }
  &:hover {
    background-color: rgba(128, 128, 128, .4);
  }
};

#brand {
  color: $nav-link-color;
}
