button {
  margin: 0.2rem 0;
  color: white;
  font-size: .6rem;
  background-color: #32c06a;
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.20);
  padding: .5rem .75rem;
}