form {
  label {
    margin: 0.2rem;
    width: 100%;
  }

  button {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  /* hide the ugly default file https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
  */
  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  input {
    &:focus {
      outline: none;
      border: 1px solid #DDDDDD;
    }

    width: 100%;
    color: #464a4c;
    font-size: 1rem;
    padding: .5rem .75rem;
    border: 1px solid rgba(0,0,0,.20);
    margin-top: .2rem;
    margin-bottom: .2rem;
    border-radius: 5px;

    &::placeholder {
      color: rgba(0, 0, 0, .5);
      font-size: 12px;
    }
  }

  textarea {
    &:focus {
      outline: none;
      border: 1px solid #DDDDDD;
    }

    width: 100%;
    color: #464a4c;
    font-size: 1rem;
    padding: .5rem .75rem;
    border: 1px solid rgba(0,0,0,.20);
    margin-top: .2rem;
    margin-bottom: .2rem;
    border-radius: 3px;

    &::placeholder {
      color: rgba(0, 0, 0, .5);
      font-size: 12px;
    }
  }
}

fieldset {
  border: none;
  width: 100%;
  padding: 0;
}

legend {
  font-size: 2rem;
}
