:local(.gallery) {
  column-count: 3;
  column-gap: 0;
}

:local(.image) {
  display: block;
  max-width: 100%;
  cursor: pointer;
}

:local(.photoWrapper) {
  width: 100%;
  break-inside: avoid;
  padding: .075rem;
}

@media screen and (min-width: 620px) {
  .gallery {
    column-count: 2;
  }
}

@media screen and (min-width: 1050px) {
  .gallery {
    column-count: 3;
  }
}

@media screen and (min-width: 1400px) {
  .gallery {
    column-count: 4;
  }
}
