:local(.gallery) {
  position: relative; // So that the images in the gallery can be positioned absolutely: em;
  margin-left: auto;
  margin-right: auto;
}

:local(.image) {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

:local(.photoWrapper) {
  width: 100%;
  padding: .075rem;
}